* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    /* Fondo blanco */
    color: #333333;
    /* Gris oscuro para el texto */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #003366;
    /* Azul marino oscuro */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    /* Azul marino oscuro */
    padding: 10px 20px;
    /* Espaciado interno */
}

.navbar h1 {
    margin: 0;
    color: #ffffff;
    /* Blanco para el texto en el header */
}

.navbar h2 {
    margin: 0;
    color: #ffffff;
    /* Blanco para el texto en el header */
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #ffffff;
    /* Blanco para los enlaces en la barra de navegación */
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}

.navbar ul li a:hover {
    background-color: #004080;
    /* Azul marino intermedio */
    color: #ffffff;
    /* Blanco para el texto en el hover */
}

main {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

h1,
h2,
h3 {
    color: #003366;
    /* Azul marino oscuro */
    margin: 20px 0;
    /* Margen superior e inferior para separar de otros elementos */
    padding: 0;
    /* Eliminar padding */
}

section {
    margin: 0 20px;
    /* Márgenes laterales para separación del borde de la página */
}

form {
    background-color: #fff;
    border: 1px solid #b0bec5;
    /* Gris azulado muy suave */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    /* Espacio entre la etiqueta y el campo */
    font-weight: bold;
    color: #333;
    /* Gris oscuro para las etiquetas */
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    /* Espacio entre los campos del formulario */
    border: 1px solid #007bb5;
    /* Azul más claro */
    border-radius: 4px;
}

button {
    background-color: #003366;
    /* Azul marino oscuro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004080;
    /* Azul marino intermedio */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #b0bec5;
    /* Gris azulado muy suave */
}

table th,
table td {
    padding: 12px;
    border: 1px solid #b0bec5;
    /* Gris azulado muy suave */
    text-align: left;
}

table th {
    background-color: #003366;
    /* Azul marino oscuro */
    color: white;
}

#chart-container {
    background-color: #fff;
    border: 1px solid #b0bec5;
    /* Gris azulado muy suave */
    padding: 20px;
    height: 300px;
}

footer {
    background-color: #003366;
    /* Azul marino oscuro */
    color: #fff;
    text-align: center;
    padding: 10px;
}