* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f6f9;
    /* Fondo gris claro */
    color: #333;
    /* Texto gris oscuro */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo del encabezado */
header {
    background-color: #003366;
    /* Azul oscuro */
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar h1 {
    margin: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #004080;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Estilo general para los formularios */
form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    width: 100%;
    max-width: 800px;
    /* Ancho máximo para un diseño más contenido */
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #003366;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="int"],
input[type="datetime-local"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="int"]:focus,
input[type="datetime-local"]:focus,
select:focus,
textarea:focus {
    border-color: #007bb5;
    /* Azul claro */
}

button,
input[type="submit"] {
    background-color: #007bb5;
    /* Azul claro */
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

button:hover,
input[type="submit"]:hover {
    background-color: #005f8d;
    /* Azul oscuro */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #b0bec5;
}

table th,
table td {
    padding: 12px;
    border: 1px solid #b0bec5;
    text-align: left;
}

table th {
    background-color: #003366;
    color: white;
}

#chart-container {
    background-color: #fff;
    border: 1px solid #b0bec5;
    padding: 20px;
    height: 300px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.box {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

#objetivos {
    margin-bottom: 40px;
}

li {
    margin-bottom: 15px;
}

/* Estilo específico para secciones y párrafos */
section {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    /* Ancho máximo para un diseño más contenido */
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

h3 {
    color: #1e2b45;
    margin-bottom: 20px;
}

/* Estilos responsivos */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    header,
    .navbar,
    footer {
        padding: 10px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    main {
        padding: 10px;
    }

    form {
        padding: 15px;
    }

    button {
        width: 100%;
    }
}

/* Responsivo para tablets */
@media (max-width: 768px) {
    body {
        font-size: 15px;
    }

    .navbar ul {
        flex-wrap: wrap;
    }

    main {
        grid-template-columns: 1fr;
        padding: 15px;
    }
}