/* Estilo para la pantalla de inicio */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
    overflow: hidden;
  }
  
  /* Contenedor principal */
  #start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  /* Fondo animado de estrellas */
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: url('fondo_estrellas.png') repeat;
    background-size: cover;
    animation: moveStars 60s linear infinite;
    z-index: -1;
  }
  
  /* Animación para mover las estrellas en loop */
  @keyframes moveStars {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-50%, -50%); }
  }
  
  /* Estilo del título */
  .title {
    font-size: 48px;
    animation: fadeIn 3s ease-in-out forwards;
  }
  
  /* Estilo de las instrucciones */
  .instructions {
    font-size: 24px;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards 1s;
  }
  
  /* Animación de entrada */
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  /* Texto parpadeante */
  .blinking-text {
    animation: blink 1s infinite;
  }
  
  /* Efecto de parpadeo */
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  